@charset "utf-8";
/* CSS Document */
body
{
	margin:0px;
	background-color:#E1E1E1;
}

#page
{
	width:1000px;
	margin:0 auto 0 auto;
}

#wrapper
{
	width:1000px;
	margin:0 auto 0 auto;
	float:left;
	background-color:#D7E3E8;
}

#wrapper b
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:22px;
	margin:20px 0 0 350px;
	float:left;
}

#wrapper form
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	float:left;
	margin:30px 0 0 340px;
}

#wrapper tr
{
	height:40px;
}

#top
{
	width:100%;
	height:100px;
	background-color:#3B4886;
}

#inner_top
{
	width:1000px;
	margin:0 auto 0 auto;
}

#inner_top img
{
	margin:0 0 0 30px;
	float:left;
}

/*#inner
{
	width:1000px;
	float:left;
	background-color:#00CC00;
}
*/
#login
{
	float:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F7F7F7;
}

#login b
{
	margin:40px 70px 0 0;
	float:right;
	text-decoration:underline;
}

#line
{
	width:100%;
	height:4px;
	background-color:#E2DE71;
	float:left;
}

#menu
{
	width:1000px;
	background-color:#AEBDDE;
	height:30px;
	margin:0 auto 0 auto;
}

#inner_menu
{
	width:1000px;
	height:30px;
	float:left;
}

#submenu
{
	width:180px;
	float:left;
}

#submenu a:link, #submenu a:visited
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:7px 0 0 100px;
	font-weight:bold;
	float:left;
	text-decoration:none;
	color:#000000;
}

#submenu a:hover
{
	color:#E2DE71;
	text-decoration:none;
	font-weight:bold;
	height:30px;
	float:left;
}

#mid
{
	width:1000px;
	margin:0 auto 0 auto;
	background-color:#AEBDDE;
}

#text
{
	width:1000px;
	background-color:#AEBDDE;
	margin:0 auto 0 auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#text b
{
	width:900px;
	font-size:16px;
	margin:0px 0 0px 50px;
	padding:20px 0 20px 0;
	float:left;
}

#text p
{
	width:900px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	margin:0px 0 0px 50px;
	padding:10px 0 20px 0;
	text-align:justify;
	float:left;
}

#text form
{
	width:875px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px 0 0 300px;
}

#contact_left
{
	width:450px;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	margin:0px 0 0px 50px;
	padding:10px 0 20px 0;
	text-align:justify;
}

#contact_right
{
	width:460px;
	float:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	margin:50px 30px 0px 0px;
	text-align:justify;
	background-color:#FFFFFF;
}

#button
{
	margin:20px 0 0 0;
}

#bottom
{
	width:100%;
	height:60px;
	background-color:#3B4886;
	float:left;
}

#bottom_text
{
	width:1000px;
	margin:0 auto 0 auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#FFFFFF;
}

#bottom b
{
	margin:25px 0 0 400px;
	float:left;
}

#map_canvas
{
	height:250px;
	width:460px;
}
